##
##  NAMESPACE
##

useDynLib(specfun)

## Public routines
#exportPattern("^[[:alpha:]]+")
export(sp.gamma, sp.lgamma, sp.gammainc)
export(sp.beta, sp.betainc)
export(sp.psi)
export(sp.hypergeom)

## S3 and S4 Methods
