###
### NAMESPACE
###

## Public routines
export(angle)
export(blkdiag)
export(ceil)
export(combs)
export(compan)
export(coprime)
export(conj)
export(cross)
export(crossn)
export(distmat)
export(dot)
export(eig)
export(extgcd)
export(eye)
export(find)
export(flipdim)
export(fliplr)
export(flipud)
export(fix)
export(gcd)
export(hankel)
export(hilb)
export(horner)
export(hypot)
export(idiv)
export(ifactor)
export(imag)
export(inv)
export(isempty)
export(isprime)
export(kron)
export(lcm)
export(linspace)
export(logseq)
export(logspace)
export(mdiag)
export(mod)
export(modinv)
export(mtrace)
export(nchoosek)
export(ndims)
export(nextpow2)
export(nthroot)
export(numel)
export(ones)
export(pascal)
export(perms)
export(pinv)
export(polydef)
export(polyarea)
export(polyder)
export(polyfit)
export(polyint)
export(polyval)
export(pow2)
export(primes)
export(rand)
export(randcomb)
export(randi)
export(randn)
export(randperm)
export(real)
export(rem)
export(repmat)
export(reshape)
export(roots)
export(rot90)
export(rosser)
export(savgol)
export(size)
export(std)
export(strcat)
export(strcmp)
export(strcmpi)
export(trapz)
export(vander)
export(wilkinson)
export(zeros)

## S4 Methods
